[Unit]
Description=QuickSmart Next.js app
After=network-online.target docker.service

[Service]
Type=simple
WorkingDirectory=/home/quicksmart/app
ExecStart=/usr/bin/npm run start
Environment="NODE_ENV=production"
Environment="PORT=3010"
EnvironmentFile=/home/quicksmart/app/.env.production.local
Restart=always
RestartSec=5
User=quicksmart
Group=quicksmart

[Install]
WantedBy=multi-user.target
